<button mat-button class="link-btn" (click)="openEditModal()">
  <mat-icon>add</mat-icon> Add book
</button>

<div class="book-list">
  <form [formGroup]="form">
    <mat-form-field class="input-full-width">
      <input
        matInput
        formControlName="filter"
        (keyup)="applyFilter($event.target.value)"
        placeholder="Filter"
      />
      <button
        mat-button
        *ngIf="form.get('filter').value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearFilter()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <table
    mat-table
    matSort
    matSortActive="title"
    matSortDirection="asc"
    [dataSource]="books"
  >
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.thumbnailUrl" alt="{{ element.title }} cover" />
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="authors">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element">{{ element.authors }}</td>
    </ng-container>

    <ng-container matColumnDef="recommendations">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Recommendations</th>
      <td mat-cell *matCellDef="let element">
        {{ element.recommendations ? element.recommendations.length : 0 }}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/books', element.id]" mat-button>view</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
