<div mat-dialog-title>{{ modalTitle }}</div>
<mat-dialog-content>
  <form *ngIf="form" [formGroup]="form" #formDir="ngForm">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Title" formControlName="title" required />
      <mat-error
        *ngIf="
          form.get('title').hasError('required') &&
          (form.get('title').touched || formDir.submitted)
        "
        >Title is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Author" formControlName="author" required />
      <mat-error
        *ngIf="
          form.get('author').hasError('required') &&
          (form.get('author').touched || formDir.submitted)
        "
        >Author is required</mat-error
      >
    </mat-form-field>

    <div class="recommendations" formArrayName="recommendations">
      <mat-toolbar>
        <span class="title">Recommendations</span>
        <span class="spacer"></span>
        <button
          mat-button
          class="right link-btn"
          type="button"
          (click)="addRecommendation()"
        >
          <mat-icon>add</mat-icon>
          Add recommendation
        </button>
      </mat-toolbar>
      <div
        *ngFor="let recommendation of recommendations.controls; let i = index"
        class="recommendation"
      >
        <div>
          <span class="recommendation-title"
            >Recommendation {{ i + 1 }}
            <button
              *ngIf="recommendations.controls.length > 1"
              mat-icon-button
              type="button"
              (click)="removeRecommendation(i)"
            >
              <mat-icon>remove_circle</mat-icon>
            </button></span
          >
        </div>
        <div [formGroupName]="i">
          <mat-form-field class="input-full-width">
            <input
              matInput
              placeholder="Source"
              formControlName="source"
              required
            />
            <mat-error
              *ngIf="
                recommendation.get('source').hasError('required') &&
                (recommendation.get('source').touched || formDir.submitted)
              "
              >Source is required</mat-error
            >
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Url" formControlName="url" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button *ngIf="data" mat-flat-button color="warn" (click)="deleteBook()">
    Delete
  </button>
  <button
    mat-flat-button
    cdkFocusInitial
    color="primary"
    (click)="saveBook()"
    [disabled]="form.invalid"
  >
    Save
  </button>
</mat-dialog-actions>
