.example-spacer {
  flex: 1 1 auto;
}

.recommendations {
  margin-top: 40px;
}

.recommendation {
  margin-top: 20px;
  padding: 0 16px;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.recommendation-title {
  font-weight: 400;
  font-size: 14px;
}
