.title {
  margin-bottom: 10px;
}

.author {
  color: #3d9970;
  font-size: 14px;
  margin-top: 0;
}

h2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.description {
  color: #4a5568;
  line-height: 2;
}

.actions {
  margin: 50px 0;
}
