/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  padding: 20px;
}

.input-full-width {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.right {
  float: right;
}

.mat-subheader {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
}

.link-btn {
  color: #1a73e8 !important;
}

.container {
  max-width: 1225px;
  margin: 0 auto;
}

.book {
  max-height: 217px;
  max-width: 148px;
  padding: 10px;
  margin: 10px;
  background-color: #f6f5f7;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
