.recommendations {
  margin-top: 50px;
}

.author {
  margin-top: 0px;
}

.title {
  margin-bottom: 5px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0;
}

form {
  margin-top: 40px;
}

table button {
  margin: 0 5px;
}

.mat-column-actions {
  text-align: right;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.add-btn {
  margin-right: 5px;
}
