.recommendations {
  margin-top: 50px;
}

.author {
  margin-top: 0px;
}

.title {
  margin-bottom: 5px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type {
  padding-left: 0;
}

form {
  margin-top: 40px;
}

table button {
  margin: 0 5px;
}

.mat-column-actions {
  text-align: right;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.add-btn {
  margin-right: 5px;
}

.details {
  margin-left: 15px;
  color: hsl(0, 0%, 45%);
  padding-right: 40px;

  p {
    margin: 5px 0;
    font-size: 13px;
  }
}

.subtitle {
  color: hsl(0, 0%, 45%);
}

.mat-expansion-panel-header-title {
  padding: 18px 0;
}