<h1 mat-dialog-title>{{ data ? 'Edit' : 'Add' }} Recommendation</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Recommended By</mat-label>
      <input matInput formControlName="recommendedBy" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Url</mat-label>
      <input matInput formControlName="url" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div fxFlex fxLayout="row" fxLayoutAlign="end">
    <button mat-flat-button (click)="onCancel()">
      Cancel
    </button>
    <button mat-flat-button color="primary" (click)="onSave()">
      Save
    </button>
  </div>
</div>
